/* variables */
$spacer: 1rem;
$color_orange: #F3A73B;
$color_orange_hover: #FBB44F;
$color_orange_active: #F0A234;

$color_blue: #427DE4;
$color_blue_hover: #528CF2;
$color_blue_active: #3773DC;

$color_purple: #834E99;
$color_purple_hover: #9F60B9;
$color_purple_active: #75388E;

$color_link: #5692FA;
$color_link_hover: #528CF2;
$color_link_active: #3773DC;
$color_black: #181818;
$color_grey: #313131;
$color_light_grey: rgba(49, 49, 49, 0.4);